footer {
    .footer-top {
        background-color: #17212a;
        padding-top: 50px;
        padding-bottom: 40px;
        text-align: center;
    }
    .footer-bottom {
        background-color: $main-color;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 25px;
    }
}