footer, .about, .services, .clients, .contact-us, .blog-top, .widget-area {
    color: #ffffff;
}

h1 span {
    color: #2c3e50;
}

.welcome-name, .welcome-descr {
    color: #004966;
}

.blog-descr {
    color: #000000;
}

.blog-date {
    color: #6d6464;
}