body {
    font-family: 'Roboto', sans-serif;
}

.footer-bottom {
    font-size: 18px;
    font-weight: 300;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

.prof {
    font-size: 48px;
    font-weight: 400;
}

.about-info {
    font-size: 30px;
    font-weight: 400;
}

.about-info span {
    font-size: 24px;
}

.about-descr {
    font-size: 24px;
    font-weight: 300;
}

.welcome-name {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
}

.welcome-descr {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

.section-name {
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
}

.section-descr, .service-descr {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.service-name {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}

.blog-top {
    font-size: 36px;
    font-weight: 500;
}

.blog-descr {
    font-size: 9px;
    font-weight: 400;
    line-height: 16px;
}

.blog-date {
    font-size: 12px;
}

.button-group {
    font-size: 30px;
    font-weight: 300;
}